services:
  migration:
    build:
      context: .
      dockerfile: Dockerfile
      target: migrator
    container_name: hackfest_migration
    # Profiles removed so 'app' can find it during build/start
    env_file:
      - .env
    networks:
      - npm_default

  seed:
    build:
      context: .
      dockerfile: Dockerfile
      target: migrator
    container_name: hackfest_seed
    command: pnpm prisma db seed
    env_file:
      - .env
    networks:
      - npm_default
    profiles:
      - manual # Keep this if you only want to seed manually

  app:
    container_name: hackfest
    build:
      context: .
      target: runner
      args:
        DATABASE_URL: ${DATABASE_URL}
        NEXT_PUBLIC_CLOUDINARY_API_KEY: ${NEXT_PUBLIC_CLOUDINARY_API_KEY}
        NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME: ${NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME}
        NEXT_PUBLIC_CLOUDINARY_UPLOAD_PRESET: ${NEXT_PUBLIC_CLOUDINARY_UPLOAD_PRESET}
    expose:
      - "3000"
    env_file:
      - .env
    restart: always
    networks:
      - npm_default
    depends_on:
      - migration # Now it can find the 'migration' service

networks:
  npm_default:
    external: true
