services:
  nextjs:
    container_name: nextjs-app
    build:
      context: .
      args:
        DATABASE_URL: ${DATABASE_URL}
    expose:
      - "3000"
    environment:
      DATABASE_URL: ${DATABASE_URL}
      NODE_ENV: production
      NEXTAUTH_SECRET: ${NEXTAUTH_SECRET}
      NEXTAUTH_URL: ${NEXTAUTH_URL}
    depends_on:
      - db
    restart: always
    networks:
      - npm_default

networks:
  npm_default:
    external: true