services:
  nextjs:
    container_name: nextjs-app
    build:
      context: .
      args:
        DATABASE_URL: ${DATABASE_URL}
    expose:
      - "3000"
    environment:
      DATABASE_URL: ${DATABASE_URL}
      NODE_ENV: production
      NEXTAUTH_SECRET: ${NEXTAUTH_SECRET}
      NEXTAUTH_URL: ${NEXTAUTH_URL}
    depends_on:
      - db
    restart: always

  db:
    container_name: postgres-db
    image: postgres:16
    restart: always
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASS}
    expose:
      - "5432"
    volumes:
      - /home/hackfest/database:/var/lib/postgresql/data