services:
  migration:
    build:
      context: ./
      dockerfile: Dockerfile
      target: migrator
    container_name: hackfest_migration
    command: pnpm prisma migrate deploy
    env_file:
      - .env
    networks:
      - npm_default
    profiles:
      - manual

  seed:
    build:
      context: ./
      dockerfile: Dockerfile
      target: migrator
    container_name: hackfest_seed
    command: /bin/sh -c "pnpm prisma db seed"
    env_file:
      - .env
    networks:
      - npm_default
    profiles:
      - manual

  app:
    container_name: hackfest
    build:
      context: .
      args:
        DATABASE_URL: ${DATABASE_URL}
        NEXT_PUBLIC_CLOUDINARY_API_KEY: ${NEXT_PUBLIC_CLOUDINARY_API_KEY}
        NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME: ${NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME}
        NEXT_PUBLIC_CLOUDINARY_UPLOAD_PRESET: ${NEXT_PUBLIC_CLOUDINARY_UPLOAD_PRESET}
    expose:
      - "3000"
    environment:
      DATABASE_URL: ${DATABASE_URL}
      NEXTAUTH_SECRET: ${NEXTAUTH_SECRET}
      NEXTAUTH_URL: ${NEXTAUTH_URL}
      CLOUDINARY_API_SECRET: ${CLOUDINARY_API_SECRET}
      NEXT_PUBLIC_CLOUDINARY_API_KEY: ${NEXT_PUBLIC_CLOUDINARY_API_KEY}
      NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME: ${NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME}
      NEXT_PUBLIC_CLOUDINARY_UPLOAD_PRESET: ${NEXT_PUBLIC_CLOUDINARY_UPLOAD_PRESET}

    restart: always
    networks:
      - npm_default

networks:
  npm_default:
    external: true
