services:
  migration:
    image: ghcr.io/imt-su-25-26/hackfest-2026:latest
    container_name: hackfest-migration
    env_file:
      - .env
    command: prisma migrate deploy
    networks:
      - npm_default

  seed:
    image: ghcr.io/imt-su-25-26/hackfest-2026:latest
    container_name: hackfest-seed
    env_file:
      - .env
    command: prisma db seed
    depends_on:
      - migration
    networks:
      - npm_default

  web:
    image: ghcr.io/imt-su-25-26/hackfest-2026:latest
    container_name: hackfest
    expose:
      - 3000
    env_file:
      - .env
    restart: always
    deploy:
      resources:
        limits:
          cpus: '0.90'
    depends_on:
      - seed
    networks:
      - npm_default

networks:
  npm_default:
    external: true
