services:
  migration:
    build:
      context: ./
      dockerfile: Dockerfile
      target: migrator
    container_name: hackfest_migration
    command: pnpm prisma migrate deploy
    env_file:
      - .env
    networks:
      - npm_default
    profiles:
      - manual

  seed:
    build:
      context: ./
      dockerfile: Dockerfile
      target: migrator
    container_name: hackfest_seed
    command: pnpm prisma db seed
    env_file:
      - .env
    networks:
      - npm_default
    profiles:
      - manual

  app:
    container_name: hackfest
    build:
      context: .
      target: runner
      args:
        DATABASE_URL: ${DATABASE_URL}
        NEXT_PUBLIC_CLOUDINARY_API_KEY: ${NEXT_PUBLIC_CLOUDINARY_API_KEY}
        NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME: ${NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME}
        NEXT_PUBLIC_CLOUDINARY_UPLOAD_PRESET: ${NEXT_PUBLIC_CLOUDINARY_UPLOAD_PRESET}
    expose:
      - "3000"
    env_file:
      - .env
    restart: always
    networks:
      - npm_default
    depends_on:
      - migration
      - seed

networks:
  npm_default:
    external: true
